[data-theme="light"] {
    @theme {
        --color-primary:    theme(colors.purple.700);
        --color-secondary:  theme(colors.purple.100);
        --color-tertiary:   theme(colors.purple.600);
        --color-gray:       theme(colors.gray.600);
    }

    .container-gap {
        @apply gap-1;
    }

    .container-padding {
        @apply p-1;
    }

    .btn, .input, .select, .textarea {
        @apply rounded;
    }
    
    .input, .select, .textarea {
        @apply w-full outline-1 -outline-offset-1 px-3 py-1 outline-gray-300;
        @apply focus:outline-purple-700 focus:outline-2;
    }

    .btn, .link {
        @apply cursor-pointer;
    }

    .btn {
        
        @apply flex duration-100 px-3 p-1 font-medium gap-2 items-center select-none;
        
        &:disabled {
            @apply bg-gray-400 text-gray-100 cursor-not-allowed;
        }
    }

    .link {
        @apply text-gray duration-200;
        @apply hover:text-purple-700;
    }

    fieldset {
        @apply flex flex-col py-2 gap-1;

        label {
            @apply text-sm text-gray-500 select-none;
        }
    }

    .select {
        @apply border-e-5 border-transparent;
    }
    
    h1,h2,h3,h4,h5,h6 {
        @apply font-semibold;
    }

    h1 { @apply text-4xl }
    h2 { @apply text-3xl }
    h3 { @apply text-2xl }
    h4 { @apply text-xl }
    h5 { @apply text-lg }
    h6 { @apply text-base }

    .btn-primary {
        @apply bg-primary text-white;
        @apply hover:bg-purple-600;
        @apply active:bg-purple-700;
    }

    .btn-clear {
        @apply text-gray;
        @apply hover:text-purple-700 hover:bg-purple-100;
        @apply active:bg-purple-200;
    }

    .btn-tab {
         & {
            * { @apply text-purple-700; }
        }
        @apply text-gray bg-white relative;
        @apply hover:text-primary;
    }

    .btn-tab-selected {
         & {
            * { @apply text-purple-700; }
        }
        @apply text-purple-700 bg-white relative;
        
        &::before {
            @apply content-[""] h-[2px] w-full bg-purple-700 left-0 bottom-[-5px] absolute;
        }
    }

    .btn-clear-selected {
        & {
            * { @apply text-purple-700; }
        }
        @apply text-purple-700 bg-purple-100 relative;
        @apply active:bg-purple-200;
    }

    .btn-outline {
        @apply text-purple-700 outline-purple-700 outline-1;
        @apply hover:bg-purple-100;
        @apply active:bg-purple-200;
    }

    .btn-danger {
        @apply text-red-500  outline-red-500 outline-1;
        @apply hover:bg-red-50;
        @apply active:bg-red-100;
    }
    
    .background-secondary {
        @apply bg-gray-100;
    }

    .background-primary {
        @apply bg-white;
    }
}